<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>
    
    {% load static %}

    <link rel = "stylesheet" href = "{% static 'CssS/cssBase.css' %}"/>
    {% block style %}
    {% endblock %}

    
</head>
<body>
    <header>
        <div class = "titulo">FRUTARIA RIO</div>
        <nav>
            <ul>
                <li><a href =  "{% url 'categorias' %}">CATEGORIAS</a></li>
                <li><a href = "{% url 'pedidos' %}">PEDIDOS</a></li>
                <li><a href = "{% url 'clientes' %}">CLIENTES</a></li>
            </ul>
        </nav>
    </header>

    <div class = "conteudo">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>