{% extends 'base.html' %}

{% load static %}

{% block title %} 
detalhamento de pedidos 
{% endblock %}


{% block style %}
    <link rel = "stylesheet" href = "{% static 'CssS/cssDetalhamentoDoCliente.css' %}">

{% endblock %}



{% block content %}
    

    <div class = "tabelaExibicao">
        <h3>CLIENTE: {{ cliente.nome }}  </h3>
        <h3>CPF: {{ cliente.cpf }}</h3>
        <h3>EMAIL: {{ cliente.cpf }} </h3>
        <h3>ESTADO-CIDADE {{ cliente.estado }} {{ cliente.cidade }} </h3>

        <h3>CEP {{ cliente.cep }}</h3>

        <h3>
            LOGRADOURO: {{ cliente.logradouro }}
        </h3>

        <h3>ATIVO:

            {% if cliente.ativo %}

                SIM 

            {% else %}

                NAO

            {% endif %}
        </h3>
    </div>

{% endblock %}


